{% extends "base.html" %}
{% from "components/download_form.html" import render_download_form %}
{% from "components/task_list.html" import render_task_list %}
{% from "components/settings.html" import render_settings %}
{% from "components/logs.html" import render_logs %}

{% block content %}
<div id="downloadTab" class="tab-content" style="display: block;">
    {{ render_download_form() }}
    {{ render_task_list() }}
</div>

<div id="settingsTab" class="tab-content" style="display: none;">
    {{ render_settings() }}
</div>

<div id="logsTab" class="tab-content" style="display: none;">
    {{ render_logs() }}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %} 